@model EFMVCDemo2.Dtos.CreateMultistudent;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName1" class="control-label"></label>
                <input asp-for="StudentName1" class="form-control" />
                <span asp-validation-for="StudentName1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAddress1" class="control-label"></label>
                <input asp-for="StudentAddress1" class="form-control" />
                <span asp-validation-for="StudentAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAge1" class="control-label"></label>
                <input asp-for="StudentAge1" class="form-control" />
                <span asp-validation-for="StudentAge1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentName2" class="control-label"></label>
                <input asp-for="StudentName2" class="form-control" />
                <span asp-validation-for="StudentName2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAddress2" class="control-label"></label>
                <input asp-for="StudentAddress2" class="form-control" />
                <span asp-validation-for="StudentAddress2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAge2" class="control-label"></label>
                <input asp-for="StudentAge2" class="form-control" />
                <span asp-validation-for="StudentAge2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentName3" class="control-label"></label>
                <input asp-for="StudentName3" class="form-control" />
                <span asp-validation-for="StudentName3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAddress3" class="control-label"></label>
                <input asp-for="StudentAddress3" class="form-control" />
                <span asp-validation-for="StudentAddress3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAge3" class="control-label"></label>
                <input asp-for="StudentAge3" class="form-control" />
                <span asp-validation-for="StudentAge3" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
